/* Write your code here. */
/* Write your code here. */

* {
  box-sizing: border-box;
  margin: 0;
}

.social-buttons-container {
  background-image: url("https://assets.ccbp.in/frontend/react-js/social-buttons-bg.png");
  height: 100vh;
  display: flex;
  justify-content: center;
}

.content-container {
  flex-direction: column;
  justify-content: center;
  align-items: center;
  display: flex;
}

.heading {
  color: #ffffff;
  font-family: "bree serif";
  border: 25px;
  padding: 5px;
  align-items: center;
  padding-bottom: 10px;
}

.like-button {
  background-color: darkgoldenrod;
  font-family: "roboto";
  border: 25px;
  color: #ffffff;
  height: 35px;
  width: 75px;
  padding: 5px;
  margin-right: 15px;
}

.comment-button {
  background-color: #ffffff;
  font-family: "roboto";
  border: 25px;
  color: grey;
  height: 35px;
  width: 75px;
  padding: 5px;
  margin-right: 15px;
}

.share-button {
  background-color: #1d4ed8;
  font-family: "roboto";
  border: 25px;
  color: #ffffff;
  height: 35px;
  width: 75px;
  padding: 5px;
  margin-right: 15px;
}
